# Normalize line endings for cross-platform git checkouts
* text=auto

*.c   text eol=lf
*.h   text eol=lf
*.s   text eol=lf
*.rs  text eol=lf
*.toml text eol=lf
*.mdc text eol=lf
*.md  text eol=lf
*.sh  text eol=lf
*.res text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png  binary
*.bin  binary
*.a    binary
